## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/
/**/dist/*.snap.dev.js

## docs
/doc/

# build
/_site/
/build/
/out-tsc/

/public/cim/
!/public/cim/README.md
