language: node_js
node_js:
  - 14
script:
  - npm test
  - npm run build

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  repo: openscd/openscd.github.io
  target_branch: master
  local_dir: build
  on:
    branch: test-travis-ci
