import { html } from 'lit';
import { fixture, expect } from '@open-wc/testing';
import { <%= className %> } from '../src/<%= className %>.js';
import '../src/<%= selectorName %>.js';

describe('<%= className %>', () => {
  it('can be built', async () => {
    const el = await fixture<<%= className %>>(html`<<%= selectorName %>></<%= selectorName %>>`);
  });

});
