name: Build and Deploy
on:
  push:
    branches:
      - main
    paths:
      - "packages/open-scd/**"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: packages/open-scd
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Use Node.js 18.x
        uses: actions/setup-node@v1
        with:
          node-version: '18.x'

      - name: Install and Build
        run: |
          npm clean-install
          npm run-script build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.5
        with:
          branch: master
          folder: packages/open-scd/build
          repository-name: openscd/openscd.github.io
          ssh-key: ${{ secrets.DEPLOY_KEY }}
