name: Test and Build
on: pull_request

jobs:
  test-and-build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
        with:
          submodules: "true"
      - name: Use Node.js 18.x
        uses: actions/setup-node@v1
        with:
          node-version: "18.x"

      - name: Install and Test OpenSCD
        run: |
          npm i @nx/nx-linux-x64-gnu
          npm clean-install
          npx playwright install chromium --with-deps
          npm run-script test
