name: Test and Build
on: pull_request

jobs:
  test-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Use Node.js 18.x
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'

      - name: Install and Build
        run: |
          cd packages/compas-open-scd
          npm ci
          npm run-script build