name: Test
on:
  push:
    branches-ignore:
      - main
    paths:
      - packages/open-scd/**

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1

      - name: Use Node.js 18.x
        uses: actions/setup-node@v1
        with:
          node-version: "18.x"

      - name: Install and Test
        run: |
          npm clean-install
          npm run-script test
